{% extends 'base.html' %}
{% block content %}
{% load static%}
{{block.super}}
<h1 class='text-center'> Awards</h1>
<div  class="img-div">
  <img class="img-fluid" id ="image" src="/static/pic3.jpg"  alt="">
</div>
{% if image.profile == username %}

    <div class="cotenet-section">
        <div class="media">
          <div>
              <img class="rounded-circle account-img" src="{{user.profile.profile_image.url }}" height="100px" width="100px" alt="">           <div class="media-body">
          </div>

          <div>
              <h2 class="account-heading">{{user.profile.username}}</h2>
          </div>
            </div>
        </div>
    </div>
{% endif %}
<div class="card-columns">
    {% for posts in post %}
    <div class="card" style="width: 18rem;">
        <img src="{{posts.image.url}}" class="card-img-top" alt="projects">
        <div class="card-body">
          <h5 class="card-title">{{posts.title}}</h5>
          <a href="/profile
          " class="btn btn-primary">Project</a>
        </div>
      </div>

      {% empty %}
      <div class="row">
        <h2 class="text-center">Welcome to Awards</h2>
      </div>
      {% endfor %} 
   
</div>
{% endblock%}

{% block scripts %} 
{{block.super}}
  <script type="text/javascript" src="{%static 'js/newsletter.js'%}"></script>
{% endblock %}
