{% extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{{block.super}} 



{% if image.profile == username %}

    <div class="cotenet-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{user.profile.profile_image.url }}" height="200px" width="200px" alt="">
            <div class="media-body">
                <h2 class="account-heading">{{user.username}}</h2>
                <p class="text-secondary">{{user.bio }}</p>
                <p class="text-secondary">{{user.projects }}</p>
                <p class="text-secondary">{{user.contacts }}</p>

            </div>
        </div>
        <a class="btn btn-success" href="{%url 'index'%}"> home </a>
    </div>
{% endif %}
{% endblock %}