{% extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{{block.super}} 
<div class="container">
<div id="move"> <br>
<div class="card" style="width: 15rem;">
    <div class="card-body">
    <form action="{% url 'uploadProfile' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %} <br>
      {{form}} 
      <input class="btn btn-success" value="Submit" type="submit">
  
  </form> 
  </div>
</div> 
</div> <br> <br>
{% if image.profile == username %}

    <div class="cotenet-section" id="flex">
        <div class="media">
            <img class="rounded-circle account-img" src="{{user.profile.profile_image.url }}" height="200px" width="200px" alt=""> 
            <div class="media-body"> <br>
                <h2 class="account-heading">{{user.username}}</h2>
                <p class="text-secondary">{{user.bio }}</p>
                <p class="text-secondary">{{user.projects }}</p>
                <p class="text-secondary">{{user.contacts }}</p>

            </div>
        </div>
    </div>
{% endif %}

{% endblock %}
