h1{
    color:green;

}
#one{
    text-shadow: 4px 4px black;
    font-size: 70px;
}
#image{
    padding-left: 2%;
    padding-right: 2%;
    height:auto;
    max-width:100%;
}
#one{
    padding-right:35%;
    float:right;
}
.img-div{
    height:80vh;
    width: 80rem;
    overflow:hidden;
}

#flex{
    float: left;
}
#move{
    padding-left: 30%;
 }
.container{
     background-image: url('/static/pic3.jpg');
 }
#overlay{
    background-color: rgba(3, 3, 3, 0.7);
    opacity: 0.9;
    margin-left:10%
}
