<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index'%}">Home</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'UploadProject'%}">Upload</a>
    </div>
    <div class="col-sm-6 col-md-6">
      {% if user.is_authenticated %}
     
        <div class="dropdown">
          <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                    <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a class='btn btn-default' href="/profile">Profile</a>
            </li> <hr>
            <li>
              <a href="/accounts/password/change">Change Password</a>
            </li> <hr>
            <li>
              <a href="/logout">Logout</a>
            </li> <hr>
            <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>
          </ul>
        </div>
     
      {% else %}
      <li>
        <a class='btn btn-default' href="/accounts/login">Login</a>
      </li>

      {% endif %}
    </div>
    <div class="col-sm-4 col-md-4 navbar-right">

        <form class="form-inline" method="get" action="{% url 'search_results' %}">
            {% csrf_token %}
            <div class="md-form my-0">
              <input class="form-control mr-sm-2 " type="text" placeholder="Search projects" name="projects" aria-label="Search">
              <input type="submit" value="Submit">
            </div>
          </form>
      </div>
  </div>
</nav> <hr>
<br> <br>
</body>
</html>